body { margin: 0; }
#main {
  background-color: peru;
  font-family: fantasy, lucida;
  font: black;
  background-image: url('pictures/dragon.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 2%;
  padding-top: 2%;
  margin: 0;
  }
h1 {
  font-family: fantasy;
  font-weight: bolder;
  font-stretch: expanded;}
table, th, td {
  border: 2px solid black;
  text-align:center;}
.bordered_image {
  border: 2px solid black;}
div.content {
  height: auto;
  width: 65%;
  background-color: hsla(360, 100%, 100%, .2);
  padding: 1%;}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;}
ul.navbar li {
  float: left;}
ul.navbar li a {
  font: Helvetica;
  font-size: 110%;
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
ul.navbar li a:hover {
  background-color: #111;
  text-decoration: underline;}
p {
  font-size: 130%;}
table.payout {
  font-size: 130%;}
ul.list {
  font-size: 130%;}
a:link {
  color: white;
  text-decoration: underline;}
a:visited {
  color: #4d3319;}
a:hover {
  color: #cc0000;
  text-decoration: underline;}
a:active: {
  color: #ffcc00;}
#white {
  list-style-image: url('pictures/white.ico');}
#blue {
  list-style-image: url('pictures/blue.ico');}
#black {
  list-style-image: url('pictures/black.ico');}
#red {
  list-style-image: url('pictures/red.ico');}
#green {
  list-style-image: url('pictures/green.ico');}
ul.colors {
  margin-left: 3%;}
