h1 {
  text-align: center;
  color: #76ecc5;
  text-decoration: underline;
  font-size: 400%;
}

h2 {
  text-align: center;
  color: white;
  font-size: 200%;
  font-style: italic;
  color: #f79031;
}

body {
  background-color: #000000;
  margin-left: 5%;
  margin-top: 3%;
}

p {
  font-family: Georgia;
  color: black;
  font-style: italic;
}

.btn-primary {
  color: white;
  /*background-color: #F05F40;*/
  /*border-color: #F05F40;*/
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  /*background-color: #ee4b28;*/
  /*border-color: #ed431f;*/
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    }

.button1 {
    padding: 4% 5%;
    background-color: #000000;
    color: black;
    border: 2px solid #5deb62;
}
.button2 {
    padding: 8% 8%;
    background-color: #000000;
    color: black;
    border: 2px solid #38c2f0;
}
.button3 {
    padding: 5% 7%;
    background-color: #000000;
    color: black;
    border: 2px solid #ee0af2;
}
.button4 {
    padding: 8% 8%;
    background-color: #000000;
    color: black;
    border: 2px solid #ff47b0;
}

.button5 {
    padding: 8% 8%;
    background-color: #000000;
    color: black;
    border: 2px solid #ee374d;
}
.button6 {
    padding: 4% 5%;
    background-color: #000000;
    color: black;
    border: 2px solid #ff7c04;
}
.button7 {
    padding: 9% 7%;
    background-color: #000000;
    color: black;
    border: 2px solid #fffd59;
}
.button8 {
    padding: 6% 6.6%;
    background-color: #000000;
    color: black;
    border: 2px solid #76ecc5;
}

.button1:hover {
    background-image:;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5deb62;
    color: white;
}
.button2:hover {
    background-image:;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #38c2f0;
    color: white;
}

.button3:hover {
  background-size: cover;
  background-repeat: no-repeat;
    background-color: #ee0af2;
}
.button4:hover {
  background-image:;
  background-size: cover;
  background-repeat: no-repeat;
    background-color: #fb008f;
    color: white;
}

.button5:hover {
  background-image:;
  background-size: cover;
  background-repeat: no-repeat;
    background-color: #ee374d;
    color: white;
}
.button6:hover {
  background-image:;
  background-size: cover;
  background-repeat: no-repeat;
    background-color: #ff7c04;
    color: white;
}
.button7:hover {
  background-image:;
  background-size: cover;
  background-repeat: no-repeat;
    background-color: #fffd59;
    color: white;
}
.button8:hover {
  background-image:;
  background-size: cover;
  background-repeat: no-repeat;
    background-color: #76ecc5;
    color: white;
}
