.name {
  font-family: "Arial Black", Gadget, sans-serif;
}
.jumbotron {
  background-image: url(pictures/wood_texture.jpeg);
  background-repeat: repeat-x;
  opacity: .8;
}
.row img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.row p {
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  text-decoration: underline;
  font-size: 120%;
}
body {
  background-color: #96897f;
}
div.nojumbo {
  height: auto;
  width: 100%;
  background-color: hsla(360, 100%, 100%, .2);
  padding: 1%;
  align-self: center;
}
.openbtn {
  background-color: black;
  padding: 0.5%;
}
h3 {
  font-size: 200%;
  text-decoration: underline;
  font-weight: bold;
}
footer ul {
  list-style-type: none;
  text-align: center;
}
img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
img:hover {
  border: 20px solid #000;
  border-radius: 50%;
}
